<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bug Tracker</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css"> 
    <script>
      var shoppingApp = angular.module("shoppingApp", []);
      angular.module("shoppingApp").factory("CartService", function () {
        var cartService = {};
        cartService.cart = []; // Initialize cart array
        cartService.addToCart = function (product, quantity = 1) {
          var index = cartService.cart.findIndex(
            (item) => item.id === product.id
          );
          if (index !== -1) {
            // If the product is already in the cart, update its quantity
            cartService.cart[index].quantity += quantity;
          } else {
            // Otherwise, add the product to the cart with quantity 1
            var cartItem = angular.copy(product);
            cartItem.quantity = quantity;
            cartService.cart.push(cartItem);
          }
        };
        return cartService;
      });

      angular.module("shoppingApp").factory("ProductService", [
        "$http",
        function ($http) {
          var productService = {};

          // Fetch products from the JSON Server API
          productService.getProducts = function () {
            return $http.get("http://localhost:3000/products");
          };

          // Add a new product to the JSON Server API
          productService.addProduct = function (newProduct) {
            return $http.post("http://localhost:3000/products", newProduct);
          };

          return productService;
        },
      ]);


      shoppingApp.controller("shoppingController", ['CartService', 'ProductService','$scope','$http', function (CartService, ProductService, $scope, $http) {
        $scope.products = [];
        $scope.cart = CartService.cart; // Bind the cart array to the controller

        ProductService.getProducts().then(function (response) {
          $scope.products = response.data;
        });

        // Function to add product to cart
        $scope.addToCart = function (product) {
          var quantity = product.quantity || 1; // Default quantity to 1 if input is not populated
          CartService.addToCart(product, quantity);
          // Reset the quantity input to '' after adding to the cart
          product.quantity = "";
        };

        $scope.getProductTotal = function (item) {
          return item.unitCost * item.quantity;
        };

        
  $scope.addProduct = function (newProduct) {
    // Generate the next ID by incrementing the ID of the last product
    var nextId =
      $scope.products.length > 0
        ? $scope.products[$scope.products.length - 1].id + 1
        : 1;
    $http
      .post("http://localhost:3000/products", newProduct)
      .then(function (response) {
        // If the product was added successfully, update the local product list
        $scope.products.push(response.data);
        // Clear the form fields after adding the product
        $scope.newProduct = {};
      });
  };
        // Function to remove product from cart
        $scope.removeFromCart = function (item) {
          var index = $scope.cart.indexOf(item);
          if (index !== -1) {
            $scope.cart.splice(index, 1); // Remove the item from the cart array
          }
        };

        // Function to calculate the grand total for the cart
        $scope.getCartTotal = function () {
          var total = 0;
          $scope.cart.forEach((item) => {
            total += item.unitCost * item.quantity;
          });
          return total;
        };
      }]);
    </script>
  </head>
  
  <body ng-app="shoppingApp" ng-controller="shoppingController">
    <h1>Products</h1>
    <hr />
        <h2>Add new product to the cart</h2>
        <form ng-submit="addProduct(newProduct)" class="product-form">
          <input
            type="text"
            ng-model="newProduct.name"
            placeholder="Name"
            required
          />
          <input
            type="number"
            ng-model="newProduct.unitCost"
            placeholder="Unit Cost"
            required
          />
          <button type="submit" class="btn">Add Product</button>
        </form>
        <div class="container">
          <div class="products-column">
            <h3>Search</h3>
              <input
                type="text"
                ng-model="searchQuery"
                placeholder="Search Products"
                class="search-input"
              />
              <table class="products-table">
                
                  <tr>
                    <th>Product Name</th>
                    <th>Quantity</th>
                    <th>Add</th>
                  </tr>
                
                
                  <tr ng-repeat="product in products | filter:searchQuery">
                    <td>{{ product.name }}</td>
                    <td>
                      <input
                        type="number"
                        ng-model="product.quantity"
                        min="1"
                        max="100"
                      />
                    </td>
                    <td>
                      <button class="add-button" ng-click="addToCart(product)">
                        Add to cart
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            
          </li>
        </ul>
      </div>
      <div class="cart-column">
        <h2>Shopping Cart</h2>
        <div ng-show="!cart.length" class="empty-cart-message">
          The shopping cart is empty
        </div>
        <ul class="cart-list">
          <li ng-repeat="item in cart" class="cart-item">
            <div>
              <span class="product-name">{{ item.name }}</span>
              <span
                >Quantity:
                <input type="number" ng-model="item.quantity" min="1" max="10"
              /></span>
              <span>Total: ${{ getProductTotal(item) }}</span>
              <button class="remove-button" ng-click="removeFromCart(item)">
                X
              </button>
            </div>
          </li>
        </ul>
        <div ng-show="cart.length" class="cart-total">
          <span>Grand Total: ${{getCartTotal() }}</span>
        </div>
      </div>
    </div>
  </body>
</html>
